<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo list 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Todo list 
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input  [(ngModel)]="newSubject"  placeholder="add new Subject"></ion-input>
    <ion-button (click)="addMessage()">
      <ion-icon name="add"></ion-icon>
      add</ion-button>

  </ion-item>


  <ion-list>
    <app-message *ngFor="let message of loadedMessages" [message]="message" (readEvent)='readMessage(message)' (deleteEvent)="deleteMessage(message)"></app-message>
  </ion-list>
</ion-content>